$base-font                    ?= "Terminus"
$base-color                   ?= #333333
$base-contrast-color          ?= #eeeeee
$base-dark-color              ?= #000000
$base-text-color              ?= $base-color
$link-color              ?= $base-color
$link-hover-color        ?= lighten($link-color, 10%)
